on late-fs
    # boot time fs tune
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1497600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 422400
on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1497600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 422400
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
on property:sys.boot_completed=1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # end boot time fs tune
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    # write /sys/android_touch/doubletap2wake 1
	
	# Low memory killer
    # write /sys/module/lowmemorykiller/parameters/minfree "9466,14199,28398,47330,66262,70995"

    exec u:r:init:s0 -- /init.yukapower.sh
    exec u:r:su:s0 root root -- /init.yukapower.sh
    exec u:r:supersu:s0 root root -- /init.yukapower.sh
